:root {
  --primary-color: #e19720;
  --primary-color--light: #fad61d;
  --secondary-color: #811e09;
  --secondary-color--light: #f62d14;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.catalog {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.catalog__heading {
  font-size: 42px;
  color: var(--secondary-color);
}
.catalog__heading--primary {
  color: var(--primary-color);
}
.catalog__header {
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
}

.catalog__content {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 25px;
  justify-items: center;
}

.catalog__footer {
  margin: 50px auto;
}

.catalog__button {
  color: #fff;
  font-family: inherit;
  background-color: var(--primary-color);
  border: 4px solid var(--primary-color);
  padding: 20px 50px;
  font-size: 24px;
  transition: background-color 0.1s ease-in, color 0.1s ease-in;

}

.catalog__button:hover {
  background-color: #fff;
  cursor: pointer;
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.catalog__info {
  font-size: 24px;
}

.card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__image {
  width: 250px;
}
.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
.search__input {
  padding: 10px 20px;
  font-family: inherit;
  font-size: 16px;
  border: none;
  width: 300px;
  transition: border-bottom-color 0.3s;
  border-bottom: 3px solid var(--secondary-color--light);
}
.search__input:focus {
  outline: none;
  border-bottom: 3px solid var(--primary-color--light);
}

.search__input::-webkit-input-placeholder {
  color: #000;
}

.search__label {
  font-size: 16px;
  margin-left: 20px;
  margin-top: 5px;
  display: block;
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
}

.search__input:placeholder-shown + .search__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-40px);
}

.hide {
  display: none;
}

.bold {
  font-weight: 700;
}



